In [ ]:
import pandas as pd
import geopandas
from sodapy import Socrata

#define NYC Open Data as our API client
client = Socrata("data.cityofnewyork.us", None)
#make a request to the API for 50,000 items
results = client.get("wz6d-d3jb", limit=50000)
#turn our results into a Pandas dataframe
results_df = pd.DataFrame.from_records(results)
#display our results visually
display(results_df)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

,building_id,registration_id,borough,house_number,street_name,postcode,of_dwelling_units,infested_dwelling_unit_count,eradicated_unit_count,re_infested_dwelling_unit,...,filing_period_start_date,filling_period_end_date,latitude,longitude,community_board,city_council_district,census_tract_2010,bin,bbl,nta
0,344156,306009,BROOKLYN,161,NEWEL STREET,11222,6,0,0,0,...,2019-11-01T00:00:00.000,2020-10-31T00:00:00.000,40.727680,-73.949030,1,33,573,3065755,3026230011,Greenpoint
1,733380,500790,STATEN ISLAND,300,EDGEWATER STREET,10305,11,0,0,0,...,2022-11-01T00:00:00.000,2023-10-31T00:00:00.000,40.615778,-74.063300,1,49,6,5042152,5028290070,Rosebank-Shore Acres-Park Hill
2,355173,322333,BROOKLYN,121,PRESIDENT STREET,11231,4,0,0,0,...,2022-11-01T00:00:00.000,2023-10-31T00:00:00.000,40.683410,-74.002174,6,39,51,3004456,3003420036,Carroll Gardens-Cobble Hill-Gowanus-Red Hook
3,924358,346557,BROOKLYN,232,7 AVENUE,11215,6,0,0,0,...,2022-11-01T00:00:00.000,2023-10-31T00:00:00.000,40.670005,-73.978995,6,39,155,3320092,3009830045,Park Slope
4,296385,304339,BROOKLYN,147,FROST STREET,11211,3,0,0,0,...,2023-11-01T00:00:00.000,2024-10-31T00:00:00.000,40.718011,-73.945640,1,34,497,3068092,3027340031,East Williamsburg
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,208939,357950,BROOKLYN,573,BERGEN STREET,11238,3,0,0,0,...,2019-11-01T00:00:00.000,2020-10-31T00:00:00.000,40.679942,-73.970678,8,35,163,3027896,3011370089,Prospect Heights
1996,686069,404756,QUEENS,507,ONDERDONK AVENUE,11385,6,0,0,0,...,2019-11-01T00:00:00.000,2020-10-31T00:00:00.000,40.706248,-73.911028,5,34,591,4081346,4034050007,Ridgewood
1997,644400,424974,QUEENS,56-21,CLOVER PLACE,11385,8,0,0,0,...,2022-11-01T00:00:00.000,2023-10-31T00:00:00.000,40.692152,-73.896770,5,30,565,4447263,4037277501,Glendale
1998,41675,125052,MANHATTAN,552,WEST 142 STREET,10031,4,0,0,0,...,2022-11-01T00:00:00.000,2023-10-31T00:00:00.000,40.824038,-73.950745,9,7,225,1061841,1020730159,Hamilton Heights-Sugar Hill
1999,5792,104553,MANHATTAN,2139,AMSTERDAM AVENUE,10032,13,0,0,0,...,2022-11-01T00:00:00.000,2023-10-31T00:00:00.000,40.838515,-73.937890,12,10,249,1062658,1021110079,Washington Heights (South)

In [5]:
queens = results_df[results_df['borough'] == "QUEENS"]
bronx = results_df[results_df['borough'] == "BRONX"]
brooklyn = results_df[results_df['borough'] == "BROOKLYN"]
manhattan = results_df[results_df['borough'] == "MANHATTAN"]
staten_island = results_df[results_df['borough'] == "STATEN ISLAND"]

manhattan

,building_id,registration_id,borough,house_number,street_name,postcode,of_dwelling_units,infested_dwelling_unit_count,eradicated_unit_count,re_infested_dwelling_unit,...,filing_period_start_date,filling_period_end_date,latitude,longitude,community_board,city_council_district,census_tract_2010,bin,bbl,nta
9,29583,611270,MANHATTAN,269,WEST 4 STREET,10014,2,0,0,0,...,2018-11-01T00:00:00.000,2019-10-31T00:00:00.000,40.735736,-74.003388,2,3,73,1010901,1006130002,West Village
19,16162,110619,MANHATTAN,188,EAST 75 STREET,10021,23,0,0,0,...,2019-11-01T00:00:00.000,2020-10-31T00:00:00.000,40.771891,-73.959662,8,4,128,1043092,1014090043,Upper East Side-Carnegie Hill
27,9460,126426,MANHATTAN,100,CHRISTOPHER STREET,10014,36,0,0,0,...,2022-11-01T00:00:00.000,2023-10-31T00:00:00.000,40.733304,-74.004788,2,3,73,1010039,1005880054,West Village
32,17404,100801,MANHATTAN,229,EAST 84 STREET,10028,30,0,0,0,...,2022-11-01T00:00:00.000,2023-10-31T00:00:00.000,40.777184,-73.954156,8,5,14601,1048733,1015300013,Upper East Side-Yorkville
34,35642,109267,MANHATTAN,159,WEST 78 STREET,10024,4,0,0,0,...,2021-11-01T00:00:00.000,2022-10-31T00:00:00.000,40.781955,-73.977587,7,6,165,1030239,1011500008,Upper West Side (Central)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1987,6385,128641,MANHATTAN,89,AVENUE A,10009,26,0,0,0,...,2022-11-01T00:00:00.000,2023-10-31T00:00:00.000,40.725278,-73.984115,3,2,32,1005763,1004327502,East Village
1988,33347,111398,MANHATTAN,415,WEST 46 STREET,10036,20,0,0,0,...,2021-11-01T00:00:00.000,2022-10-31T00:00:00.000,40.761267,-73.991394,4,3,127,1026490,1010560025,Hell's Kitchen
1994,17736,138479,MANHATTAN,125,EAST 87 STREET,10128,119,0,0,0,...,2017-11-01T00:00:00.000,2018-11-30T00:00:00.000,40.780478,-73.955793,8,4,14802,1048044,1015160013,Upper East Side-Carnegie Hill
1998,41675,125052,MANHATTAN,552,WEST 142 STREET,10031,4,0,0,0,...,2022-11-01T00:00:00.000,2023-10-31T00:00:00.000,40.824038,-73.950745,9,7,225,1061841,1020730159,Hamilton Heights-Sugar Hill
1999,5792,104553,MANHATTAN,2139,AMSTERDAM AVENUE,10032,13,0,0,0,...,2022-11-01T00:00:00.000,2023-10-31T00:00:00.000,40.838515,-73.937890,12,10,249,1062658,1021110079,Washington Heights (South)

In [6]:
nyc_map = geopandas.GeoDataFrame(
    results_df, geometry=geopandas.points_from_xy(results_df["longitude"], results_df["latitude"], crs=4326)
)

queens_map = geopandas.GeoDataFrame(
    queens, geometry=geopandas.points_from_xy(queens["longitude"], queens["latitude"], crs=4326)
)

brooklyn_map = geopandas.GeoDataFrame(
    brooklyn, geometry=geopandas.points_from_xy(brooklyn["longitude"], brooklyn["latitude"], crs=4326)
)

manhattan_map = geopandas.GeoDataFrame(
    manhattan, geometry=geopandas.points_from_xy(manhattan["longitude"], manhattan["latitude"], crs=4326)
)

bronx_map = geopandas.GeoDataFrame(
    bronx, geometry=geopandas.points_from_xy(bronx["longitude"], bronx["latitude"], crs=4326)
)

staten_island_map = geopandas.GeoDataFrame(
    staten_island, geometry=geopandas.points_from_xy(staten_island["longitude"], staten_island["latitude"], crs=4326)
)

nyc_map

,building_id,registration_id,borough,house_number,street_name,postcode,of_dwelling_units,infested_dwelling_unit_count,eradicated_unit_count,re_infested_dwelling_unit,...,filling_period_end_date,latitude,longitude,community_board,city_council_district,census_tract_2010,bin,bbl,nta,geometry
0,344156,306009,BROOKLYN,161,NEWEL STREET,11222,6,0,0,0,...,2020-10-31T00:00:00.000,40.727680,-73.949030,1,33,573,3065755,3026230011,Greenpoint,POINT (-73.94903 40.72768)
1,733380,500790,STATEN ISLAND,300,EDGEWATER STREET,10305,11,0,0,0,...,2023-10-31T00:00:00.000,40.615778,-74.063300,1,49,6,5042152,5028290070,Rosebank-Shore Acres-Park Hill,POINT (-74.0633 40.61578)
2,355173,322333,BROOKLYN,121,PRESIDENT STREET,11231,4,0,0,0,...,2023-10-31T00:00:00.000,40.683410,-74.002174,6,39,51,3004456,3003420036,Carroll Gardens-Cobble Hill-Gowanus-Red Hook,POINT (-74.00217 40.68341)
3,924358,346557,BROOKLYN,232,7 AVENUE,11215,6,0,0,0,...,2023-10-31T00:00:00.000,40.670005,-73.978995,6,39,155,3320092,3009830045,Park Slope,POINT (-73.979 40.67)
4,296385,304339,BROOKLYN,147,FROST STREET,11211,3,0,0,0,...,2024-10-31T00:00:00.000,40.718011,-73.945640,1,34,497,3068092,3027340031,East Williamsburg,POINT (-73.94564 40.71801)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,208939,357950,BROOKLYN,573,BERGEN STREET,11238,3,0,0,0,...,2020-10-31T00:00:00.000,40.679942,-73.970678,8,35,163,3027896,3011370089,Prospect Heights,POINT (-73.97068 40.67994)
1996,686069,404756,QUEENS,507,ONDERDONK AVENUE,11385,6,0,0,0,...,2020-10-31T00:00:00.000,40.706248,-73.911028,5,34,591,4081346,4034050007,Ridgewood,POINT (-73.91103 40.70625)
1997,644400,424974,QUEENS,56-21,CLOVER PLACE,11385,8,0,0,0,...,2023-10-31T00:00:00.000,40.692152,-73.896770,5,30,565,4447263,4037277501,Glendale,POINT (-73.89677 40.69215)
1998,41675,125052,MANHATTAN,552,WEST 142 STREET,10031,4,0,0,0,...,2023-10-31T00:00:00.000,40.824038,-73.950745,9,7,225,1061841,1020730159,Hamilton Heights-Sugar Hill,POINT (-73.95074 40.82404)
1999,5792,104553,MANHATTAN,2139,AMSTERDAM AVENUE,10032,13,0,0,0,...,2023-10-31T00:00:00.000,40.838515,-73.937890,12,10,249,1062658,1021110079,Washington Heights (South),POINT (-73.93789 40.83852)