In [1]:
import pandas as pd
import geodatasets
import geopandas
from sodapy import Socrata
import matplotlib.pyplot as plt
import numpy as np

client = Socrata("data.cityofnewyork.us", None)

results = client.get("wz6d-d3jb", limit=2000) #returns 1000 without limit

results_df = pd.DataFrame.from_records(results)

display(results_df)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

,building_id,registration_id,borough,house_number,street_name,postcode,of_dwelling_units,infested_dwelling_unit_count,eradicated_unit_count,re_infested_dwelling_unit,...,filing_period_start_date,filling_period_end_date,latitude,longitude,community_board,city_council_district,census_tract_2010,bin,bbl,nta
0,344156,306009,BROOKLYN,161,NEWEL STREET,11222,6,0,0,0,...,2019-11-01T00:00:00.000,2020-10-31T00:00:00.000,40.727680,-73.949030,1,33,573,3065755,3026230011,Greenpoint
1,733380,500790,STATEN ISLAND,300,EDGEWATER STREET,10305,11,0,0,0,...,2022-11-01T00:00:00.000,2023-10-31T00:00:00.000,40.615778,-74.063300,1,49,6,5042152,5028290070,Rosebank-Shore Acres-Park Hill
2,355173,322333,BROOKLYN,121,PRESIDENT STREET,11231,4,0,0,0,...,2022-11-01T00:00:00.000,2023-10-31T00:00:00.000,40.683410,-74.002174,6,39,51,3004456,3003420036,Carroll Gardens-Cobble Hill-Gowanus-Red Hook
3,924358,346557,BROOKLYN,232,7 AVENUE,11215,6,0,0,0,...,2022-11-01T00:00:00.000,2023-10-31T00:00:00.000,40.670005,-73.978995,6,39,155,3320092,3009830045,Park Slope
4,926795,429380,QUEENS,66-08,GRAND CENTRAL PARKWAY,11375,9,0,0,0,...,2021-11-01T00:00:00.000,2022-10-31T00:00:00.000,40.731691,-73.843398,6,24,747,4432143,4021860075,Forest Hills
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,403250,402901,QUEENS,30-36,14 STREET,11102,4,1,1,0,...,2022-11-01T00:00:00.000,2023-10-31T00:00:00.000,40.769909,-73.930687,1,22,79,4005663,4005160001,Old Astoria-Hallets Point
1996,324315,317448,BROOKLYN,829,LENOX ROAD,11203,6,0,0,0,...,2021-11-01T00:00:00.000,2022-10-31T00:00:00.000,40.655457,-73.928968,17,41,868,3100867,3046380023,East Flatbush-Rugby
1997,99859,219916,BRONX,729,NOBLE AVENUE,10473,5,0,0,0,...,2021-11-01T00:00:00.000,2022-10-31T00:00:00.000,40.819388,-73.867352,9,18,2001,2021983,2035930051,Soundview-Clason Point
1998,345998,314468,BROOKLYN,361,FENIMORE STREET,11225,7,0,0,0,...,2020-11-01T00:00:00.000,2021-10-31T00:00:00.000,40.658672,-73.950896,9,40,802,3115474,3050390047,Prospect Lefferts Gardens-Wingate
1999,28117,121965,MANHATTAN,430,ST NICHOLAS AVENUE,10027,11,0,0,0,...,2022-11-01T00:00:00.000,2023-10-31T00:00:00.000,40.814793,-73.949144,10,9,215,1059440,1019580055,Harlem (North)

In [6]:
queens = results_df[results_df['borough'] == "QUEENS"]
bronx = results_df[results_df['borough'] == "BRONX"]
brooklyn = results_df[results_df['borough'] == "BROOKLYN"]
manhattan = results_df[results_df['borough'] == "MANHATTAN"]
staten_island = results_df[results_df['borough'] == "STATEN ISLAND"]

manhattan

,building_id,registration_id,borough,house_number,street_name,postcode,of_dwelling_units,infested_dwelling_unit_count,eradicated_unit_count,re_infested_dwelling_unit,...,filing_period_start_date,filling_period_end_date,latitude,longitude,community_board,city_council_district,census_tract_2010,bin,bbl,nta
9,29583,611270,MANHATTAN,269,WEST 4 STREET,10014,2,0,0,0,...,2018-11-01T00:00:00.000,2019-10-31T00:00:00.000,40.735736,-74.003388,2,3,73,1010901,1006130002,West Village
19,16162,110619,MANHATTAN,188,EAST 75 STREET,10021,23,0,0,0,...,2019-11-01T00:00:00.000,2020-10-31T00:00:00.000,40.771891,-73.959662,8,4,128,1043092,1014090043,Upper East Side-Carnegie Hill
27,9460,126426,MANHATTAN,100,CHRISTOPHER STREET,10014,36,0,0,0,...,2022-11-01T00:00:00.000,2023-10-31T00:00:00.000,40.733304,-74.004788,2,3,73,1010039,1005880054,West Village
31,17404,100801,MANHATTAN,229,EAST 84 STREET,10028,30,0,0,0,...,2022-11-01T00:00:00.000,2023-10-31T00:00:00.000,40.777184,-73.954156,8,5,14601,1048733,1015300013,Upper East Side-Yorkville
33,35642,109267,MANHATTAN,159,WEST 78 STREET,10024,4,0,0,0,...,2021-11-01T00:00:00.000,2022-10-31T00:00:00.000,40.781955,-73.977587,7,6,165,1030239,1011500008,Upper West Side (Central)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1974,34544,133558,MANHATTAN,40,WEST 67 STREET,10023,40,0,0,0,...,2022-11-01T00:00:00.000,2023-10-31T00:00:00.000,40.773535,-73.979496,7,6,15301,1028233,1011190047,Upper West Side-Lincoln Square
1978,829070,141934,MANHATTAN,534,HUDSON STREET,10014,22,1,1,0,...,2019-11-01T00:00:00.000,2020-10-31T00:00:00.000,40.734273,-74.006195,2,3,73,1011185,1006207501,West Village
1987,18046,115178,MANHATTAN,418,EAST 89 STREET,10128,20,0,0,0,...,2023-11-01T00:00:00.000,2024-10-31T00:00:00.000,40.778490,-73.947237,8,5,14402,1050627,1015680040,Upper East Side-Yorkville
1992,804206,118046,MANHATTAN,548,COLUMBUS AVENUE,10024,20,0,0,0,...,2022-11-01T00:00:00.000,2023-10-31T00:00:00.000,40.786829,-73.971938,7,6,173,1085083,1012170035,Upper West Side (Central)
1999,28117,121965,MANHATTAN,430,ST NICHOLAS AVENUE,10027,11,0,0,0,...,2022-11-01T00:00:00.000,2023-10-31T00:00:00.000,40.814793,-73.949144,10,9,215,1059440,1019580055,Harlem (North)

In [ ]:
nyc_map = geopandas.GeoDataFrame(
    results_df, geometry=geopandas.points_from_xy(results_df["longitude"], results_df["latitude"], crs=4326)
)

queens_map = geopandas.GeoDataFrame(
    queens, geometry=geopandas.points_from_xy(queens["longitude"], queens["latitude"], crs=4326)
)

brooklyn_map = geopandas.GeoDataFrame(
    brooklyn, geometry=geopandas.points_from_xy(brooklyn["longitude"], brooklyn["latitude"], crs=4326)
)

manhattan_map = geopandas.GeoDataFrame(
    manhattan, geometry=geopandas.points_from_xy(manhattan["longitude"], manhattan["latitude"], crs=4326)
)

bronx_map = geopandas.GeoDataFrame(
    bronx, geometry=geopandas.points_from_xy(bronx["longitude"], bronx["latitude"], crs=4326)
)

staten_island_map = geopandas.GeoDataFrame(
    staten_island, geometry=geopandas.points_from_xy(staten_island["longitude"], staten_island["latitude"], crs=4326)
)

#staten_island_map.explore()